nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    color: black;
    font-size: 40px;
    text-decoration: underline;
}

nav > a{
    text-decoration: none;
    color: inherit;
}