@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

nav{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
    background-color: black;
    font-size: 20px;
    padding: 20px;
    margin: -5px;
}
nav > a{
    color: inherit;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: whitesmoke;
}
nav > a:hover{
    color: #D5202C;
    transition-delay: 90ms;
}
body{
    background-color: black;
}  
.gallery{
    margin-left: 30px;
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: repeat(3, 400px);
    background-color: black;

}
.gallery > .image1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery >.image2:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image3:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image4:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image5:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image6:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image7:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image8:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image9:hover{
    opacity: 0.8;
    cursor: pointer;
}
.gallery > .image5{
    grid-column-start: 1;
    grid-column-end: 2;
}
.gallery > .image6{
    grid-column-start: 3;
    grid-column-end: 4;
}
.gallery > .image7{
    grid-column-start: 1;
    grid-column-end: 2;
}
.gallery > .image8{
    grid-column-start: 2;
    grid-column-end: 3;
}
#container{
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgb(0,0,0,0.3)), url(/images/Grasslands.jpg) center/cover no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 101.42%;
    margin-left: -10px;
    margin-bottom: -50px;
    /* margin-top: 30px; */
    margin-top: 5px;
    text-align: center;
    padding-top: 100px;
    opacity: 100%;
    visibility: visible;
}
#header{
    font-size: 50px;
    font-family:"Nunito Sans", sans-serif;
    color: #D5202C;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
#subheader{
    font-size: 20px;
    font-family:"Nunito Sans", sans-serif;
    color: #D5202C;
    text-shadow: -0.5px 0.5px 1px #000,
				  1px 1px 1px #000,
				  0.5px -0.5px 0 #000,
				  -0.5px -0.5px 0 #000;
}

#LandscapeDesc{
    text-align: center;
}
#LandscapeDesc > p, #LandscapeDesc > h1{
    margin: 50px;
    color: aliceblue;
    font-family: "Nunito Sans", sans-serif;;
}
#fullImgBox{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#fullImgBox > p{
    position: absolute;
    top: -2%;
    right: 2%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#fullImgBox1{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
#fullImgBox1 > p{
    position: absolute;
    top: -2%;
    right: 2%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/* How to freeze scrolling */
/* #body{
    margin: 0;
    height: 80%;
    overflow: hidden;
} */
#mission{
    text-align: center;
}
#button{
    font-size: 20px;
    background-color: inherit;
    border-color: white;
    border-radius: 25px;
    color: red;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    bottom: -20%;
    left: 43%;
    cursor: pointer;
}
#statement{
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgb(0,0,0,0.3)), url(/images/Grasslands.jpg) center/cover no-repeat fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 101.42%;
    margin-left: -10px;
    margin-bottom: -50px;
    /* margin-top: 30px; */
    margin-top: 5px;
    text-align: center;
    padding-top: 100px;
    opacity: 100%;
    visibility: visible;
    color: aliceblue;
    display: none;
}
#missionHeader,
#missionDesc{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    font-family:"Nunito Sans", sans-serif;
    color: whitesmoke;
    text-shadow: -0.5px 0.5px 1px #000,
				  1px 1px 1px #000,
				  0.5px -0.5px 0 #000,
				  -0.5px -0.5px 0 #000;
    
}
#button1{
    font-size: 20px;
    background-color: inherit;
    border-color: white;
    border-radius: 25px;
    color: red;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    bottom: -20%;
    left: 47.5%;
    display: none;
    cursor: pointer;
}
